.Form {
  background: #FC9D1D;
  position: relative;

  :global(.react-datepicker-wrapper) {
    width: 100%;
  }

  :global(.container) {
    z-index: 100;
    position: relative;
  }

  .imgBg1 {
    position: absolute;
    left: 0;
    top: 0;

    @media screen and (max-width: 1020px) {
      display: none;
    }
  }

  .imgBg2 {
    position: absolute;
    right: 0;
    top: 0;

    @media screen and (max-width: 1020px) {
      max-width: 270px;
      top: -85px;
    }
  }

  .BgImageGirafa {
    position: absolute;
    left: 0;
    bottom: 0;

    @media screen and (max-width: 1020px) {
      display: none;
    }
  }

  .BgImageOnca {
    position: absolute;
    right: 0;
    bottom: 0;

    @media screen and (max-width: 1020px) {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }

  .infoTop {
    font-size: 25px;
    font-weight: 900;
    color: #561C6D;

    span {
      color: #fff;
    }

    margin-bottom: 55px;
    max-width: 690px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 34.15px;
  }

  .error {
    font-size: 14px;
    font-weight: 400;
    display: block;
    color: #561C6D;
  }

  .rowForm {
    max-width: 820px;
    margin-left: auto;
    margin-right: auto;
  }

  h3 {
    font-size: 25px;
    color: #fff;
    font-weight: 900;
    text-align: center
  }

  .requiredSpan {
    font-size: 14px;
    font-weight: 400;
    display: block;
    color: #561C6D;
    text-align: center;
    margin-top: 20px;
  }

  .input {
    position: relative;

    span {
      display: block;
      text-align: start;
      margin-bottom: 7px;
      /* position: absolute;
      top: -12px;
      left: 40px;
      background: #FC9D1D;
      padding: .2em 1em;
      border-radius: 100px;
      border: 1px solid red; */
    }

    input[type="checkbox"] {
      appearance: none;
      width: 23px;
      height: 23px;
      background-color: white;
      border-radius: 50%;
      position: relative;
      cursor: pointer;
      padding: 0;
      margin-top: 4px;

      &:checked::before {
        content: '';
        width: 20px;
        height: 20px;
        background-color: #561C6D;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    input,
    select {
      width: 100%;
      border-radius: 100px;
      padding: 20px;
      font-size: 20px;
      color: #561C6D;
      font-weight: 400;
      text-align: center;
      border: none;
      outline: none;

      &.errorInput {
        outline: 2px solid red;
      }

      &::placeholder {
        font-size: 20px;
        color: #561C6D;
        font-weight: 400;
        text-align: center;
      }
    }
  }

  button[type="submit"] {
    padding: 10px 93px;
    color: #fff;
    border: none;
    font-size: 25px;
    font-weight: 900;
    background: #561C6D;
    box-shadow: 0 0 10px #561C6D80;
    border-radius: 100px;
    margin-top: 50px;
    text-transform: uppercase;
  }

  .footerMessage {
    font-size: 25px;
    margin-top: 48px;
    font-weight: 900;
    color: #561C6D;
    margin-bottom: 79px;

    @media screen and (max-width: 1020px) {
      margin-bottom: 0;
    }

    p {
      text-align: center;
    }
  }
}