@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Avenir';
  src: url(@/assets/fonts/avenir/AvenirLTStd-Light.otf);
  font-weight: 100;
}

@font-face {
  font-family: 'Avenir';
  src: url(@/assets/fonts/avenir/AvenirLTStd-Black.otf);
  font-weight: 900;
}

@font-face {
  font-family: 'Avenir';
  src: url(@/assets/fonts/avenir/AvenirLTStd-Book.otf);
  font-weight: 400;
}

@font-face {
  font-family: 'Avenir';
  src: url(@/assets/fonts/avenir/AvenirLTStd-Heavy.otf);
  font-weight: 800;
}

@font-face {
  font-family: 'Avenir';
  src: url(@/assets/fonts/avenir/AvenirLTStd-Medium.otf);
  font-weight: 500;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Avenir;
}

body {
  background: #FC9D1D;
}
